body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    color: #333;
}
.header-nav {
    background-color: #333;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header-nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Основной контейнер */
.main-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}